
/* Index/Upload page CSS here */

h1 {
    color: #557C55; /* Green */
}

#codeForm {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#codeSnippet {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #557C55; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.logo{
    width: 400pxpx; 
    height: 100px;
}

.codeForm{
    font-family: 'Arial', sans-serif;
    background-color: #F2FFE9; /* Light Green */
}

.codesection{
    margin: 2% 5%;
}

button:hover {
    background-color: #609966; /* Dark Green */
}

.analyze-button {
    display: block;
    margin: 0 auto;
  }

#result {
    margin-top: 20px;
}

.nav-item{
    font-size: x-large;
    padding: 0 18px;
}
  
.nav-link{
    font-size: 5rem;
    font-family: 'Montserrat-light', sans-serif;
}

.navbar{
    padding: 0rem 1rem 1rem 1rem;
}

/* Main Dashboard CSS here */

.sidebar{
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; display: inline-flex
}

.sidebar_1{
    width: 290px; 
    height: 1152px; 
    position: relative; 
    background: #1B1C20
}

.sidebar_2{
    width: 259px; 
    height: 316px; 
    left: 31px; 
    top: 168px; 
    position: absolute
}

.sidebar_3{
    width: 257px; 
    height: 36px; 
    left: 2px; 
    top: 224px; 
    position: absolute
}

.sidebar_4{
    left: 36px; 
    top: 3px; 
    position: absolute; 
    color: white; 
    font-size: 16px; 
    font-family: DM Sans; 
    font-weight: 500; 
    line-height: 30px; 
    word-wrap: break-word
}

