@import url(https://fonts.googleapis.com/css?family=DM+Sans:500,700,400|Poppins:700);
/* Index/Upload page CSS here */

h1 {
    color: #557C55; /* Green */
}

#codeForm {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#file {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #557C55; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.logo{
    width: 400pxpx; 
    height: 100px;
}

.codeForm{
    font-family: 'Arial', sans-serif;
    background-color: #F2FFE9; /* Light Green */
}

.codesection{
    margin: 2% 5%;
}

button:hover {
    background-color: #609966; /* Dark Green */
}

.analyze-button {
    display: block;
    margin: 0 auto;
  }

#result {
    margin-top: 20px;
}

.nav-item{
    font-size: x-large;
    padding: 0 18px;
}
  
.nav-link{
    font-size: 5rem;
    font-family: 'Montserrat-light', sans-serif;
}

.navbar{
    padding: 0rem 1rem 1rem 1rem;
}

/* Main Dashboard CSS here */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;

    & .hero{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: #eee;

        @media(min-width: 1440px){
            padding-inline: calc((100vw - 1440px) / 2);
        }
            
    }

    & .menu-icon{
        position: absolute;
        top: 4rem;
        right: 2rem;
        z-index: 999;
        cursor: pointer;
        height: 30px;
        width: 30px;
        display: block;

        &__line{
            height: 4px;
            width: 30px;
            display: block;
            background-color: #222;
            margin-bottom: 7px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            transition: transform .2s ease;

            &-left{
                width: 16.5px;
                transition: all 200ms linear;
            }
            &-right{
                width: 16.5px;
                float: right;
                transition: all 200ms linear;
            }
        }

        &:hover{
            .menu-icon__line-left,
            .menu-icon__line-right{
                width: 30px;
            }
        }
    }
    
    .menu-section{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #eee;
        padding: 0 2rem;
        z-index: 2;

        &.overlay{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;

            &.bar{
                height: 100%;
                width: calc(100% / 5);
                background-color: #334155;
            }
        }

        @media(min-width: 1440px){
            padding-inline: calc((100vw - 1440px) / 2);;
        }

        &.menu{
            list-style: none;
            width: max(300px, 60%);

            & li{
                padding: 0 1.5rem;
                overflow: hidden;
                /* width: fit-content; */

                & .mask{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                & svg{
                    transform: translateY(8px);
                    transform-origin: bottom;
                }

                & a{
                    display: block;
                    text-decoration: none;
                    font-size: clamp(3.5rem, 6.5vw, 12rem);
                    color: #e4ddd4;
                    font-weight: bold;

                    &:hover{
                        color: #adadad;
                    }
                }
            }
        }
    }

    


}



/* Sidebar CSS */

/* .side-bar-notification-pro-cta-avatar{
    background-color: #1b1c1f;
    height: 1152px;
    overflow: hidden;
    position: relative;
    width: 290px;
}

.flex-col{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 428px;
    position: relative;
    top: 56px;
}

.separator{
    background-image: url(https://cdn.animaapp.com/projects/656868fbcff8db5c77092c2px/releases/6568699928abc7c9ac9dcd56px/img/separator.svg);
    background-position: 50% 50%;
    height: 1px;
    margin-right: 0;
    margin-top: 47px;
    width: 290px;
}

.surname{
    align-self: center;
    color: var(--white);
    font-family: var(--font-size-1);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    margin-right: 15px;
    min-width: 167px;
    white-space: nowrap;
}

.pages{
    align-items: flex-end;
    display: flex;
    gap: 20px;
    margin-top: 38px;
    min-height: 316px;
    width: 259px;
}

.pages-item{
    align-items: center;
    display: flex;
    gap: 12px;
    height: 36px;
    margin-right: -2px;
    min-width: 259px;
}

.sidebar .pagetitle-5{
    letter-spacing: -0.32px;
    line-height: 30px;
    white-space: nowrap;
}

.pagetitle-2{
    min-width: 68px;
}

.icon{
    height: 24px;
    width: 24px;
}

.tables{
    align-items: center;
    display: flex;
    gap: 10px;
    height: 36px;
    margin-right: -2px;
    min-width: 261px;
}

.icon-1{
    height: 28px;
    width: 28px;
}

.pagetitle-1{
    min-width: 81px;
}

.dashboard{
    align-items: center;
    display: flex;
    margin-right: -2px;
    min-width: 259px;
}

.pagetitle{
    color: var(--white);
    font-family: var(--font-family-dm_sans);
    font-weight: 700;
    margin-left: 12px;
    min-width: 54px;
}

.active{
    background-color: var(--white);
    border-radius: 25px;
    height: 36px;
    margin-left: 163px;
    width: 4px;
}

.pagetitle-3{
    min-width: 46px;
} */

