<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Pulse Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

    <div class="side-bar-notification-pro-cta-avatar">
        <div class="flex-col">
            <h1 class="surname">GREEN PULSE</h1>
            <div class="separator"></div>
            <div class="pages">
                <div class="dashboard">
                    <img class="icon" src="https://cdn.animaapp.com/projects/656868fbcff8db05c77092c2/releases/6568699928abc7c9ac9dcd56/img/icon-4.svg" alt="Icon"/>
                    <div class="pagetitle-1 pagetitle-5">Upload</div>
                    <div class="active"></div>
                </div>
                <div class="tables">
                    <img class="icon-1" src="https://cdn.animaapp.com/projects/656868fbcff8db05c77092c2/releases/6568699928abc7c9ac9dcd56/img/icon-3.svg" alt="Icon"/>
                    <div class="pagetitle pagetitle-5 dmsans-medium-white-16px">Dashboard</div>
                </div>
                <div class="pages-item">
                    <img class="icon" src="https://cdn.animaapp.com/projects/656868fbcff8db05c77092c2/releases/6568699928abc7c9ac9dcd56/img/icon-2.svg" alt="Icon"/>
                    <div class="pagetitle-2 pagetitle-5 dmsans-medium-white-16px">About Us</div>
                </div>
                <div class="pages-item">
                    <img class="icon" src="https://cdn.animaapp.com/projects/656868fbcff8db05c77092c2/releases/6568699928abc7c9ac9dcd56/img/icon-1.svg" alt="Icon"/>
                    <div class="pagetitle-3 pagetitle-5 dmsans-medium-white-16px">Profile</div>
                </div>
                <div class="pages-item">
                    <img class="icon" src="https://cdn.animaapp.com/projects/656868fbcff8db05c77092c2/releases/6568699928abc7c9ac9dcd56/img/icon.svg" alt="Icon"/>
                    <div class="pagetitle-4 pagetitle-5 dmsans-medium-white-16px">Sign In</div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>