<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>Green Pulse Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

    <h1>Dashboard: Analysis Results</h1>
    <div id="pylint">

    </div>

    <div id="psutil">

    </div>

    <script>
        //pylint output displaying
        jQuery.ajax({
            type: 'GET',
            url: '/call_pylint',
            success: function(response) {
               document.getElementById("pylint").innerHTML = `<p>PYLINT OUTPUT: ${response.pylint_output}</p>`;
            },
            error: function(error) {
                console.error('Error calling run_pylint endpoint:', error);
            }
        });

        //psutil output displaying
        jQuery.ajax({
            type: 'GET',
            url: '/call_psutil',
            success: function(response) {
               document.getElementById("psutil").innerHTML = `<p>CPU % PER THREAD: ${response.cpu_percent}</p>
               <p>Thread Count: ${response.cpu_threads}</p>
               <p>Memory usage bytes: ${response.memory}</p>
               <p>CPU Time executing kernal tasks: ${response.cpu_time_kernal}</p>
               <p>Disk IO Usage %: ${response.disk_usage}</p>`;
            },
            error: function(error) {
                console.error('Error calling run_pylint endpoint:', error);
            }
        })


    </script>

<!-- Dashboard content starts here -->

    <div class="wrapper">
        <div class="hero">
            <div class="hero-content">
                <div class="mask">
                    <h1>GREEN Pulse</h1>
                </div>
            </div>
        </div>

        <div class="menu-icon">
            <span class="menu-icon__line menu-icon__line-left"></span>
            <span class="menu-icon__line "></span>
            <span class="menu-icon__line menu-icon__line-right"></span>
        </div>

        <div class="menu-section">
            <div class="overlay">
                <div class="bar"></div>

            </div>
            <ul class="menu">
                <li class="menu-link">
                    <div class="mask">
                        <a href="index.html">Upload</a>
                    </div>
                </li>
                <li class="menu-link">
                    <div class="mask">
                        <a href="dashboard.html">Dashboard</a>
                    </div>
                </li>
                <li class="menu-link">
                    <div class="mask">
                        <a href="about-us.html">About Us</a>
                    </div>
                </li>
                <li class="menu-link">
                    <div class="mask">
                        <a href="https://github.com/greencodeproject">Our Github</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    
</body>
</html>